# Exclude build outputs
**/bin/
**/obj/

# Exclude git files and folders
.git
.gitignore

# Exclude local settings or temporary files
*.user
*.vs/

# Exclude documentation files if not needed
*.md

# Exclude node_modules if you have any frontend assets built with Node.js
node_modules
